/* global theme CSS Variables */
:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --card-bg: #f9fafb;
  --nav-bg: #ffffff;
}

[data-theme="dark"] {
  --bg-color: #111827;
  --text-color: #f3f4f6;
  --card-bg: #1f2937;
  --nav-bg: #1f2937;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s ease;
  font-family: "Outfit";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
