.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.card img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.card {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin: 10px 0;
}
