.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  height: 55px;
  /* background-color: var(--nav-bg);
  color: var(--text-color); */
  padding: 20px;
}

.themeBtn {
  background: none;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 6px 12px;
  cursor: pointer;
}

.brandName {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
.navItems {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navItem {
  margin: 0 13px;
  cursor: pointer;
  font-size: 19px;
}

a {
  text-decoration: none;
  color: #fff;
}
